body {
  margin: 0px;
  padding: 0px;
}

header {
  margin: auto;
  width: 80%;
  padding: 20px;
}

h1 {
  color: #f55;
}

main {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

article, aside {
  padding: 10px;
}

p {
  color: #555;
}

a:link,
a:visited {
  color: #f55;
  text-decoration: underline;
}

a:focus,
a:hover {
  text-decoration: none;
}

a:active {
  color: #ff5;
}
